#productListing {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  th {
    background: $color-primary;
    padding: 0.8rem;
    text-align: left;
    color: $color-white;
  }
  td {
    border-bottom: 1px solid #f3f3f3;
    padding: 0.8rem;
  }
}
