.grid {
  padding: 1.5rem;
  ul {
    @include dg;
    li {
      border: 1px solid $color-secondary;
      text-align: center;
      padding: 1.5rem 2.5rem;
      h2 {
        font-size: $fs-xl;
        margin: 1.5rem 0;
      }
      img {
        width: 100%;
        height: 150px;
        max-width: 150px;
      }
      .info {
        font-weight: 800;
        .price {
          color: $color-secondary;
        }
        .discount {
          color: #8f8f90;
          text-decoration: line-through;
          margin: 0 0.3rem;
        }
        .off {
          color: #14a214;
        }
      }
    }
  }
}

@media screen and (max-width: $dw-medium) {
  .grid {
    ul {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: $dw-small) {
  .grid {
    ul {
      grid-template-columns: 1fr;
    }
  }
}
