.header {
  background: $color-primary;
  color: $color-white;
  padding: 1.4rem 2rem;
  @include df;
  h1 {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid $color-alt;
    position: relative;
    text-indent: -99999px;
    &::after {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 40px solid $color-alt;
      position: absolute;
      content: "";
      top: 15px;
      left: -20px;
    }
  }
  .search {
    input {
      font-size: $fs-l;
      background: transparent;
      border-bottom: 2px solid $color-white;
      color: $color-white;
      padding: 0.5rem 0 0.5rem;
      position: relative;
    }
    .fa {
      margin-left: -1rem;
    }
  }
  .cartBtn {
    color: $color-white;
    position: relative;
    background: transparent;
    outline: none;
    cursor: pointer;
    .fa {
      font-size: $fs-xl;
    }
    .cartItemCount {
      position: absolute;
      background: #ff0000;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: none;
      justify-content: center;
      align-items: center;
      right: -20px;
      top: -15px;
    }
  }
}

.options {
  background: $color-bg;
  padding: 1.5rem 1rem;
  text-align: center;
  margin: 0 0 1.5rem 0;
  button {
    background: transparent;
    cursor: pointer;
    border: 0 none;
    font-weight: 800;
    font-size: $fs-xl;
    margin: 0 2.5rem;
  }
}
