$font-primary: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif;
$color-primary: #4269ea;
$color-secondary: #1c1c1c;
$color-bg: #f1f3f6;
$color-alt: #f7ad22;
$color-white: #fff;

$fs-xxl: 2rem;
$fs-xl: 1.5rem;
$fs-l: 1.25rem;

$mx-width: 1280px;
$dw-medium: 990px;
$dw-small: 500px;
