@import "reset";
@import "variables";
@import "mixins";
@import "btn";
@import "header";
@import "grid";
@import "footer";
@import "overlay";
@import "cart";

body {
  font: normal 16px $font-primary;
}

::-webkit-input-placeholder {
  color: $color-white;
}

.wrapper {
  width: 100%;
  max-width: $mx-width;
  margin: 0 auto;
}
