* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navigation {
  background: #4269ea;
  padding: 1.4rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation h1 {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #f7cd22;
    position: relative;
    text-indent: -99999px; }
    .navigation h1:after {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 40px solid #f7cd22;
      position: absolute;
      content: "";
      top: 15px;
      left: -20px; }

.options {
  background: #f1f3f6;
  padding: 0.8rem 1rem;
  text-align: center;
  margin: 0 0 1.5rem 0; }

body {
  font: normal 16px Helvetica, sans-serif; }

.wrapper {
  width: 1280px;
  margin: 0 auto; }
